body {
	font-family: Arial;
	}
/*img {
	border: 2px solid #54C03F;
	border-radius: 50%;
}*/
.kalafior {
	font-variant: small-caps;
	}
#ramka {
	background-color: #D1FAD2;
	padding: 0px;
	color: green;
	text-align: center;
	font-variant: small-caps;

	}
#lista {
	padding: 10px;
	margin-bottom: 10px;
	}
.notatka {
	border: 1px solid grey;
	border-radius: 5px;
	}
.link {
	font-weight: bold;
	color: green;
	}
.cover {
	background-image: url("https://cdn.shoplo.com/7592/products/th640/aaa3/4490-en_product_detail_grain_03-850x567.jpg");
	background-position: center;
	background-size: cover;
	min-height: 150px;
}
